@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Instrument Sans", sans-serif;
}

@layer components {
  .navbar-label {
    @apply flex gap-2 items-center text-white font-medium cursor-pointer;
  }

  .banner-gradient {
    background: linear-gradient(90deg, #6378f1 1.73%, #63c6f1 100%);
  }

  .avatar {
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    transform: rotate(10%);
  }

  .error-labe {
    @apply text-red-500 text-xs mt-1;
  }
}
